*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

font-family:'Inter',sans-serif;

background:#ffffff;

color:#111827;

line-height:1.6;

}

/* ==========================================
   Navigation SECTION
========================================== */


.navbar{

max-width:1100px;

margin:auto;

display:flex;

justify-content:space-between;

align-items:center;

padding:25px 20px;

}

.logo{

font-size:22px;

font-weight:700;

}

.nav-links{

display:flex;

gap:30px;

list-style:none;

}

.nav-links a{

text-decoration:none;

color:#374151;

font-weight:500;

transition:.3s;

}

.nav-links a:hover{

color:#2563EB;

}

/* ==========================================
   HERO SECTION
========================================== */


.hero{

max-width:900px;

margin:120px auto;

padding:20px;

text-align:center;

}

.status{

display:inline-block;

background:#ECFDF5;

color:#059669;

padding:8px 16px;

border-radius:50px;

font-size:14px;

font-weight:600;

margin-bottom:30px;

}

.hero h1{

font-size:54px;

line-height:1.2;

margin-bottom:25px;

}

.hero-description{

font-size:20px;

color:#6B7280;

max-width:700px;

margin:auto;

margin-bottom:40px;

}

.hero-buttons{

display:flex;

justify-content:center;

gap:20px;

}

.btn-primary{

background:#2563EB;

color:white;

padding:14px 28px;

border-radius:12px;

text-decoration:none;

font-weight:600;

transition:.3s;

}

.btn-primary:hover{

background:#1D4ED8;

}

.btn-secondary{

border:1px solid #D1D5DB;

padding:14px 28px;

border-radius:12px;

text-decoration:none;

color:#111827;

font-weight:600;

transition:.3s;

}

.btn-secondary:hover{

background:#F9FAFB;

}

/* End Hero Section */

   
/* ==========================================
   ABOUT PAGE
========================================== */


.about{

    padding:120px 10%;

}


.about-container{

    display:flex;

    align-items:center;

    justify-content:center;

    gap:60px;

}


.about-image{

    width:300px;

    height:300px;

}


.profile-placeholder{

    width:100%;

    height:100%;

    border-radius:50%;

    background:#e5e7eb;

    display:flex;

    align-items:center;

    justify-content:center;

    font-size:20px;

    color:#374151;

}


.about-content{

    max-width:600px;

}


.about-content h1{

    font-size:42px;

    font-weight:700;

    color:#111827;

    margin-bottom:15px;

}


.about-content h2{

    font-size:28px;

    color:#2563EB;

    margin-bottom:20px;

}


.about-content p{

    font-size:18px;

    line-height:1.8;

    color:#4B5563;

    margin-bottom:15px;

}


/* End About Page */










@media (max-width:768px){

    .about-container{

        flex-direction:column;
        text-align:center;

    }


    .about-image{

        width:220px;
        height:220px;

    }


    .about-content h1{

        font-size:34px;

    }


}
