*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

font-family:'Inter',sans-serif;

background:#ffffff;

color:#111827;

line-height:1.6;

}

.navbar{

max-width:1100px;

margin:auto;

display:flex;

justify-content:space-between;

align-items:center;

padding:25px 20px;

}

.logo{

font-size:22px;

font-weight:700;

}

.nav-links{

display:flex;

gap:30px;

list-style:none;

}

.nav-links a{

text-decoration:none;

color:#374151;

font-weight:500;

transition:.3s;

}

.nav-links a:hover{

color:#2563EB;

}

/* ==========================================
   HERO SECTION
========================================== */


.hero{

max-width:900px;

margin:120px auto;

padding:20px;

text-align:center;

}

.status{

display:inline-block;

background:#ECFDF5;

color:#059669;

padding:8px 16px;

border-radius:50px;

font-size:14px;

font-weight:600;

margin-bottom:30px;

}

.hero h1{

font-size:54px;

line-height:1.2;

margin-bottom:25px;

}

.hero-description{

font-size:20px;

color:#6B7280;

max-width:700px;

margin:auto;

margin-bottom:40px;

}

.hero-buttons{

display:flex;

justify-content:center;

gap:20px;

}

.btn-primary{

background:#2563EB;

color:white;

padding:14px 28px;

border-radius:12px;

text-decoration:none;

font-weight:600;

transition:.3s;

}

.btn-primary:hover{

background:#1D4ED8;

}

.btn-secondary{

border:1px solid #D1D5DB;

padding:14px 28px;

border-radius:12px;

text-decoration:none;

color:#111827;

font-weight:600;

transition:.3s;

}

.btn-secondary:hover{

background:#F9FAFB;

}

/* End Hero Section */

   
  /* ==========================================
   ABOUT SECTION
========================================== */

  
/* ABOUT */

.about{

max-width:900px;

margin:120px auto;

padding:20px;

}

.section-title{

text-align:center;

margin-bottom:50px;

}

.section-title h2{

font-size:40px;

font-weight:700;

color:#111827;

}

.about-content{

display:flex;

flex-direction:column;

gap:25px;

}

.about-content p{

font-size:19px;

line-height:1.9;

color:#4B5563;

}

/* End About Section */
